
.blue3-13-look { background-color: #35456F; color: #fff; }
.blue2-12-look { background-color: #1155CC; color: #fff; }
.blue2-12-look .content .headline1,
.blue2-12-look .content .headline2 { color: #333; } 
.blue1-11-look { background-color: #9FC5E8; color: #35456F; }


.links-navigator { background-color: #fff; margin-top: 100px; padding: 10px; text-align: center; }
.news-code-contact-space,
#news-code-contact-space { background-color: #eee; color: #333;  padding: 4px;}
.alt-link-text { background-color: #333; color: #eee; }
.purpl-10-look .content .headline1,
.purpl-10-look .content .headline2 { color: #74FBEA; }
.purpl-10-look { background-color: #822182; color: #e1e1e1; }
.leckiday-tesla-09-look .content .headline1,
.leckiday-tesla-09-look .content .headline2 { color: #74FBEA; }
.leckiday-tesla-09-look { background-color: #314242; color: #74FBEA; }
.grapevine-08-look { background-color: #9A1861; color: #eee; }
.grapevine-08-look .content .headline1,
.grapevine-08-look .content .headline2 { color: #F7BA00; }
#look-linker-form { padding: 0 0 0 10px; }
.slime-05-look { background-color: #33CC33; }
.redd-06-look { background-color: #ED2D3D; }
.clay-07-look { background-color: #85A0A0; }
.img-03 { display: none; }
.snowy-bluep-01-look #SMChannelsCompleteContent #linkedContent.bootstrap-icons,
.snowy-bluep-01-look { background-color: #011993; color: #eee; float: none;  } 
.snowy-bluep-01-look .hey-highlight { color: orange; }
.snowy-bluep-01-look .img-03 { display: inline-block; }
.snowy-bluep-01-look .img-02 { display: none; }
.defaults-02-look #look-02, 
.green-black-03-look #look-03,
.yellow-black-04-look #look-03,
.snowy-bluep-01-look #look-01 { background-color: #bbb; }
#look-04,#look-05,#look-06,
#look-00, #look-01, #look-02,#look-03,
.aside #bold-headline { padding-left: 26px; display: block; }
.aside .headline2 { padding-left: 16px; margin-right: 18px; 
                    margin-left: 0;
                    border-left: 10px solid #666666; 
                  }
#cat-wrapper-list { min-width: 510px; }
:root {
  color-scheme: light dark;
  --page-headline-color: #666;
  --page-txt-color: #333;
  --page-aside-txt-color: #666;
  --page-highlights: #F7C265;
}
@media (prefers-color-scheme: dark){
  :root {
    color-scheme: light dark;
    --page-headline-color: #666;
    --page-txt-color: #F7C265;
    --page-aside-txt-color: #666;
    --page-highlights: #fff;
  }
}
#look-linker-list-info #bold-headline { text-transform: uppercase; }
#off-javascript-enable-message { color: var(--page-aside-txt-color);  }
#look-linker-list-info #bold-headline, #what-is-linkedin { color: var(--page-aside-txt-color); font-weight: bold;}
#what-is-linkedin { font-size: 80%; }
.green-black-03-look { background-color: #3B2027; background-color: rgb(59,32, 32); color: #1ADC00; }
.green-black-03-look #q-linkedin,
.yellow-black-04-look #q-linkedin { color: #3B2027; }
 #look-linker-list,
.green-black-03-look b, 
.green-black-03-look #look-linker-list,
.yellow-black-04-look b,
.yellow-black-04-look #look-linker-list { color: #333; color: var(--page-aside-txt-color); } 
.green-black-03-look .aside { border: 2px solid #333; border-top: 3px solid #333; }
.aside .look-linkers-enhanced-dynamic-styles,
.defaults-02-look .aside .look-linkers-enhanced-dynamic-styles,
.green-black-03-look .aside .look-linkers-enhanced-dynamic-styles,
.yellow-black-04-look .aside .look-linkers-enhanced-dynamic-styles { cursor: pointer; }
.yellow-black-04-look { background-color: #3B2027; background-color: rgb(59,32, 32); color: #F7C265; }
.aside .look-linkers-enhanced-dynamic-styles:hover { text-decoration: underline; }
.cat-cc { position: absolute; }
#cat-wrapper-list { padding: 0; margin: 0; }
.cat-wrapper { position: relative; display: inline-block; margin-left: 2px; }
#cat-01 { top: 42px; left: 22px  }
#cat-02 { top: 42px; left: 25px }
#cat-05 { top: 42px; left: 64px  }
.lite-font-color { color: pink; }
.breaks-line { clear: both; }
.image-iseries { float: right; border: 3px solid #bbb; }
.i01 { border-bottom: 22px solid #666666; }
.s02 { display: none; visibility: hidden; }
.s03 { text-transform: lowercase; }
.hey-highlight { color: #3E3ECC;  }
.highlight5 { background-color: #EEEEEE; color: #BBBBBB; padding-left: 5px; padding-right: 5px; text-align: center; }
.headline1 { font-size: smaller; }
#about-kaivongdev { padding-top: 0; margin-bottom: 0; }
.headline2 { margin-top: 50px; } 
h1 { margin: 0; }
.kinda-x-username { color: #BBBBBB; font-size: 42px; margin: 0 0 0 -13px; padding: 0 13px 0 13px; }
.bio-name { color: #333333; display: block; font-weight: normal; font-size: 21px; }
body { line-height: 1.5; color: var(--page-txt-color)} 
a:link { color: #E79423; }
h2.headline2 .highlight1 { background-color: #FBEFDE; color: #E79423; }
h2.headline2 .highlight2 { background-color: #F9E0E5; color: #DD3256; }
h2.headline2 .highlight3 { background-color: #E9BDE2; color: #EA0EC6; }
.aside { z-index: 2; position: relative; }
.page-cover { background: rgba(0 0 0 / 0.25);
  position: absolute;
  height: 100%; width: 100%; }
.html1999.html {
  border-top: #E8582B 13px solid;
  cursor: default;
  font-family: arial;
  max-width: 1012px;
}
.edited-social-colours {
  height: 360px;
  width: 360px;
}
.headline1,
.headline2 {
  clear: both;
  color: #666666;
  font-family: arial;
  margin-left: -3px;
  text-transform: uppercase;
}
.screen.page-body {
  margin: 0;
  padding: 0 13px;
}
.content {
  float: left;
  margin: 0 13px 0 0;
  max-width: 550px;
}
.pic-lists {
  background-color: #333333;
  border: 6px solid #111111;
  display: inline-block;
  list-style-type: none;
  padding: 10px 0 10px 20px;
  width: 340px;
}
.pic-lists .item { display: inline-block; }
.aside {
  width: 232px;
  background: #D1D1D1;
  float: right;
  overflow: hidden;
  border: 2px solid #fff; border-top: 3px solid #333;
}
.focus-highlightable:hover{
  background-color: yellow;
}
.picture.image {
  border: 3px solid silver;
  display: block;
}
.caption {
  background-color: #FFFFFF;
  border-top: 0;
  border: silver 3px solid;
  margin: 0;
  padding: 4px 0 4px 4px;
  width: 416px;
}
.small-text.caption {
  font-size: 13px;
  margin-bottom: 24px;
}
.view-icons.content {
  padding: 0;
}
.javascript-required,
#NavigationAtTop,
#NavigationAtBottom  {
  left: -9999px;
  position: absolute;
}
.view-list #linkedContent {
  margin-left: -5px;
  margin-top: 0;
  padding-left: 0;
}
#SMChannelsCompleteContent #linkedContent,
#q-linkedin { padding: 8px 26px 4px 26px; }
#q-linkedin { vertical-align: bottom; }
#previous-social-links { padding: 0 0 0 20px; clear: left; }
#dev-email-hello-eh { width:20px; height:16px; top: 5px; position: relative; }
#linkedContent .list-item .h-text {
  display: inline-block;
  overflow: hidden;
  text-indent: -9999px;
}
.list-item {
  display: inline-block;
}
#footer { clear: both; color: gray; padding: 20px; margin: 20px 0 0; }
.hide-content { visibility: hidden; display: none;}
