.screen.page-body {
  margin: 0;
  padding: 0;
}
.headline1.element2 { margin: 0; padding: 0 0 0 13px;}
.headline1.element2 a { background-color: #bbb; color: #fff; text-decoration: none; padding: 6px 4px 0; line-height:1; }
.text-lower-paragraph { margin: 0 0 0 13px }
#colours-looking-into div { width: 13px; height: 24px; float: left; }
#red { background-color: red; /* alternates on that newline */
    background-color: #691616;
     }
#orange { background-color: orange;
       background-color: #A06927;
     }
#yellow { background-color: yellow;
       background-color: #EFFF00;
}
#green { background-color: green;
      background-color: #00C763;
}
#blue { background-color: blue;
     background-color: #0000E5;
}
#indigo { background-color: indigo;
       background-color: #6400B2;
}
#violet { background-color: violet;
       background-color: #DB00A7;
}

#post01,
.post { padding: 0 13px; }

#wf-themes-image02 {
    top: -109px;
    position: relative;
    right: 0;
}
.no-javascript {}
.content { width: 400px; }

.content code { white-space: break-spaces; text-overflow: ellipsis; width: 320px;
overflow: hidden; display: block; text-align: left;
}
#HTMLPageContent .look-01 { background-color: #FFFFFF; color: #000000; }
#HTMLPageContent .look-02 { background-color: #CCCCCC; }
#HTMLPageContent .look-03 { background-color: #A7A7A7; }
#HTMLPageContent .look-04 { background-color: #787878; }
#HTMLPageContent .look-05 { background-color: #444444; }

#HTMLPageContent .look-06 { color: #000000; }
#art-ascii-light2 { display: none; }
#art-ascii-dark1 { display: none; }
#art-ascii-dark2 { display: none; }
#art-ascii-wall-switcher:hover #art-ascii-light2 { display: inline-block; }
#art-ascii-wall-switcher:hover #art-ascii-light1 { display: none; }
#kaivongdev-news-happenings .wrapper { background-color: #fff ; }
.table-look thead tr td { background-color: #AAAAAA; }
.paragraph-01 { margin-top: 0;  font-size: smaller; }
.ordered-list { padding: 0 0 0 16px; }
.list-item { font-size: smaller; padding: 0;}
.headline {font-size: small;}
#HTMLPageContent .screen {
  border-top: #E8582B 13px solid;
  cursor: default;
  font-family: Kailasa, arial;
  font-family: Kailasa;
  font-size: small;
  max-width: 580px;
  margin: 0 auto;
}
#HTMLPageContent .screen .wrapper { background-color: #fff; padding: 0;
    z-index: auto; position: relative;
}
#news {}
#HTMLPageContent .light-crimson { border-top-color: #C20097; border-top: #C20000 13px solid;  }
.light-crimson .headline2 { color: #333; }
.light-crimson #linkedinLinkContent,
.light-crimson #twitterXLinkContent,
.light-crimson #githubLinkContent { background-color: transparent;
                                    background-size: 100%;
                                    display: inline-block;
                                    height: 22px;
                                    width: 22px;
                                     }
.light-crimson #linkedinLinkContent { background-image: url(/images/SMChannels/kaivongcom-on-linkedincom-lc.png);}                                     
.light-crimson #githubLinkContent   { background-image: url(/images/SMChannels/kaivongcom-on-githubcom-lc.png);}
.light-crimson #twitterXLinkContent { background-image: url(/images/SMChannels/kaivongcom-on-xcom-lc.png);}
.light-crimson #linkedinLinkContent img,
.light-crimson #githubLinkContent img,
.light-crimson #twitterXLinkContent img  { display: none; }
.light-crimson .alt-link-text { background-color: #fff; }
.light-crimson a:link { color: #C20000; }
.light-crimson a:visited { color: #C20097; }
#HTMLPageContent .turquoise-midnight1-15-look { background-color: #1B6880; color: #060000; }
#HTMLPageContent .turquoise-mornings1-16-look { background-color: #7FAAAA; color: #060000;  }
#HTMLPageContent .turquoise-midnight1-15-look .headline1,
#HTMLPageContent .turquoise-midnight1-15-look .headline2,
#HTMLPageContent .turquoise-mornings1-16-look .headline1,
#HTMLPageContent .turquoise-mornings1-16-look .headline2 { color: #060000;}
#HTMLPageContent .turquoise-mornings1-16-look .aside .headline2  { border-left: 10px solid #1CA258; }
#HTMLPageContent .turquoise-mornings1-16-look { border-top-color: #1CA258; border-top: #1CA258 13px solid;  }
#HTMLPageContent .red1-midnight  { background-color: #801B1B; }
#HTMLPageContent .midnight-gree7 { background-color: #2B801B; }
.links-navigator { background-color: #fff; margin-top: 100px; padding: 10px; text-align: center; }
.news-code-contact-space,
#news-code-contact-space { background-color: #eee; color: #333;  padding: 4px;}
#HTMLPageContent .alt-link-text { background-color: #333; color: #eee; }
#HTMLPageContent .purpl-10-look { background-color: #FF0084; }
#HTMLPageContent .leckiday-tesla-09-look .content .headline1,
#HTMLPageContent .leckiday-tesla-09-look .content .headline2 {  }
#HTMLPageContent .leckiday-tesla-09-look { background-color: #314242; }
#HTMLPageContent .grapevine-08-look { background-color: #9A1861;  }
#HTMLPageContent .grapevine-08-look .content .headline1,
#HTMLPageContent .grapevine-08-look .content .headline2 { color: #F7BA00; }
.no-javascript #look-linker-form { visibility: hidden; }
#look-linker-form { padding: 0 0 0 10px; }
#HTMLPageContent .slime-05-look { background-color: #33CC33; }
#HTMLPageContent .redd-06-look { background-color: #ED2D3D; }

.img-03 { display: none; }
#HTMLPageContent .snowy-bluep-01-look #SMChannelsCompleteContent #linkedContent.bootstrap-icons,
#HTMLPageContent .snowy-bluep-01-look { background-color: #011993; float: none;  }
#HTMLPageContent .snowy-bluep-01-look .hey-highlight { color: orange; }
#HTMLPageContent .snowy-bluep-01-look .img-03 { display: inline-block; }
#HTMLPageContent .snowy-bluep-01-look .img-02 { display: none; }
.green-black-03-look #look-03,
.yellow-black-04-look #look-03,
.snowy-bluep-01-look #look-01 { background-color: #bbb; }
#look-04,#look-05,#look-06,
#look-00, #look-01, #look-02,#look-03 { padding-left: 26px; display: block; }
.aside .headline2 { padding-left: 16px; margin-right: 18px; 
                    margin-left: 0;
                    border-left: 10px solid #666666; 
                  }
#cat-wrapper-list { min-width: 510px; z-index: 2; position: relative; }
#look-linker-list { visibility: hidden; }
.themes-display #look-linker-list { visibility: visible; }
#wf-themes-image { display: none; } 
:root {
}
@media (prefers-color-scheme: dark){
    :root {
        color-scheme: light dark;
        --page-headline-color: #666;
        --page-txt-color: #F7C265;
        --page-aside-txt-color: #666;
        --page-highlights: #fff;
    }
    #HTMLPageContent .look-01 { color: #333; }
    #HTMLPageContent .look-06 { color: #EEEEEE; }
    #art-ascii-light1 { display: none; }
    #art-ascii-light2 { display: none; }
    #art-ascii-dark1 { display: inline-block; }
    #art-ascii-dark2 { display: none; }
    #art-ascii-wall-switcher:hover #art-ascii-light1 { display: none; }
    #art-ascii-wall-switcher:hover #art-ascii-light2 { display: none; }
    #art-ascii-wall-switcher:hover #art-ascii-dark2 { display: inline-block; }
    #art-ascii-wall-switcher:hover #art-ascii-dark1 { display: none; }
}
#kaivongdev-news-happenings,
#look-linker-list-info { display: inline-block; }
#look-linker-list-info #bold-headline { text-transform: uppercase;  }
#off-javascript-enable-message { color: var(--page-aside-txt-color); padding: 0 20px 0; }
#look-linker-list-info #bold-headline, #what-is-linkedin { color: var(--page-aside-txt-color); font-weight: bold;}
#what-is-linkedin { font-size: 80%; }
#HTMLPageContent .green-black-03-look { background-color: #E00A9C; color: #1ADC00; }
#HTMLPageContent .green-black-03-look #q-linkedin,
.yellow-black-04-look #q-linkedin { color: #3B2027; }
.aside .look-linkers-enhanced-dynamic-styles,
.defaults-02-look .aside .look-linkers-enhanced-dynamic-styles,
.aside .look-linkers-enhanced-dynamic-styles:hover { text-decoration: underline; }
.cat-cc { position: absolute; }
#cat-wrapper-list { padding: 0; margin: 0; }
.cat-wrapper { position: relative; display: inline-block; margin-left: 2px; }
.breaks-line { clear: both; }
.hey-highlight { color: #3E3ECC;  }
.highlight5 { background-color: #63E7E7; color:#EEEEEE; padding-left: 5px; padding-right: 5px; text-align: center; }
.headline1 { font-size: smaller; }
#about-kaivongdev { padding-top: 0; margin-bottom: 0; }
.bio-name { color: #333333; display: block; font-weight: normal; }
body { line-height: 1.5; color: var(--page-txt-color)} 
a:link { color: #E79423; }
h2.headline2 .highlight1 { background-color: #FBEFDE; color: #E79423; }
h2.headline2 .highlight2 { background-color: #F9E0E5; color: #DD3256; }
h2.headline2 .highlight3 { background-color: #E9BDE2; color: #EA0EC6; }
.page-cover { background: rgba(0 0 0 / 0.25);
  position: absolute;
  height: 100%; width: 100%; }
.edited-social-colours {
  height: 360px;
  width: 360px;
}
.headline1,
.headline2 {
  clear: both;
  color: #666666;
  font-family: Kailasa,arial;
  padding: 13px 13px 13px 13px;
  text-transform: uppercase;
}
.content {
  float: left;
  margin: 0;
}
.aside {
  max-width: 157px;
  min-height: 392px;
  background: #D1D1D1;
  float: right;
  position: relative;
  border: 2px solid #fff; border-top: 3px solid #333;
  z-index: 2; position: relative; }
.picture.image {
  border: 3px solid silver;
  display: block;
}
#SMChannelsCompleteContent #linkedContent,
#q-linkedin { padding: 8px 26px 4px 26px; }
#q-linkedin { vertical-align: bottom; }
#previous-social-links { padding: 0 0 0 20px; clear: left; }
#dev-email-hello-eh { width:20px; height:16px; top: 5px; position: relative; }
#linkedContent .list-item .h-text {
  display: inline-block;
  overflow: hidden;
  text-indent: -9999px;
}
.list-item {
  display: inline-block;
}
.hide-content { visibility: hidden; display: none;}
.themes-display #wf-themes-image { position: absolute; left: -2px; bottom: -116px; display: inline; }
@media handheld {
    .aside { display: none; }
}
@media tty {
    h1 { border-bottom: 10px solid red; }
}
@media screen and (max-width:394px) {
    .aside,
    .content { float: none; }
    body.html1999.themes-display #wf-themes-image { display: none; }
    #SMChannelsCompleteContent,
    #linkedContent,
    .aside .headline2 { display: inline-block; vertical-align: top; }
    #linkedContent {margin-top: 6px; }

    #SMChannelsCompleteContent #linkedContent,
    #q-linkedin { padding: 0;
    }
}
#footer { clear: both; color: gray; padding: 20px; margin: 20px 0 0; text-align: center; }
