#HTMLPageContent .look-01 { background-color: #FFFFFF; color: #000000; }
#HTMLPageContent .look-02 { background-color: #CCCCCC; }
#HTMLPageContent .look-03 { background-color: #A7A7A7; }
#HTMLPageContent .look-04 { background-color: #787878; }
#HTMLPageContent .look-05 { background-color: #444444; }
#HTMLPageContent .look-06 { background-color: #000000; color: #000000; }

#art-ascii-light2 { display: none; }
#art-ascii-dark1 { display: none; }
#art-ascii-dark2 { display: none; }
#art-ascii-wall-switcher:hover #art-ascii-light2 { display: inline-block; }
#art-ascii-wall-switcher:hover #art-ascii-light1 { display: none; }
#HTMLPageContent .blue1-11-look { background-color: #282828; color: #FFFFFF; }
.yellow-black-04-look .lite-font-color,
.red1-midnight .lite-font-color,
.redd-06-look .lite-font-color { color: red; }
.leckiday-tesla-09-look .lite-font-color,
.green-black-03-look .lite-font-color,
.midnight-gree7 .lite-font-color,
.slime-05-look .lite-font-color,
.turquoise-mornings1-16-look .lite-font-color,
.turquoise-midnight1-15-look .lite-font-color  { color: #047101; }
.clay-07-look .lite-font-color  { color: #85A0A0; }
.blue4-14-look .lite-font-color { color: #253150; }
.blue3-13-look .lite-font-color { color: #253150; }
.blue1-11-look .lite-font-color { color: #0376BB; }
.blue2-12-look .lite-font-color { color: #004D81; }
#HTMLPageContent .blue2-12-look { background-color: #979797; }
.kaivongdev-news-happenings.themes-display .wrapper:after { background: none; }
#kaivongdev-news-happenings .wrapper { background-color: #fff ; }
#kaivongdev-news-happenings .themes-display .wrapper:after { display: none; }
.table-look thead tr td { background-color: #AAAAAA; }
.paragraph-01 { margin-top: 0;  font-size: smaller; }
.ordered-list { padding: 0 0 0 16px; }
.list-item { font-size: smaller; padding: 0;}
.headline {font-size: small;}
#HTMLPageContent .screen {
  border-top: #E8582B 13px solid;
  cursor: default;
  font-family: arial;
  font-size: small;
  max-width: 1012px;
  max-width: 680px;
  margin: 0 auto;
}
#HTMLPageContent .screen .wrapper { background-color: #fff; padding: 0;
    z-index: auto; position: relative;
}
.themes-display .wrapper:after { content: ' '; display: block; left: -96px; top: -13px; position: absolute; z-index: -1;
    width: 128px; height: 296px; Background: transparent url(../images/themes6.gif) 0 0; }
.light-crimson { background-color: #fff; color: #333; }
#news {}
#HTMLPageContent .light-crimson { border-top-color: #C20097; border-top: #C20000 13px solid;  }
.light-crimson .headline2 { color: #333; }
.light-crimson #linkedinLinkContent,
.light-crimson #twitterXLinkContent,
.light-crimson #githubLinkContent { background-color: transparent;
                                    background-size: 100%;
                                    display: inline-block;
                                    height: 22px;
                                    width: 22px;
                                     }
.light-crimson #linkedinLinkContent { background-image: url(/images/SMChannels/kaivongcom-on-linkedincom-lc.png);}                                     
.light-crimson #githubLinkContent   { background-image: url(/images/SMChannels/kaivongcom-on-githubcom-lc.png);}
.light-crimson #twitterXLinkContent { background-image: url(/images/SMChannels/kaivongcom-on-xcom-lc.png);}
.light-crimson #linkedinLinkContent img,
.light-crimson #githubLinkContent img,
.light-crimson #twitterXLinkContent img  { display: none; }
.light-crimson .alt-link-text { background-color: #fff; }
.light-crimson a:link { color: #C20000; }
.light-crimson a:visited { color: #C20097; }
#HTMLPageContent .turquoise-midnight1-15-look { background-color: #1B6880; color: #060000; }
#HTMLPageContent .turquoise-mornings1-16-look { background-color: #7FAAAA; color: #060000;  }
#HTMLPageContent .turquoise-midnight1-15-look .headline1,
#HTMLPageContent .turquoise-midnight1-15-look .headline2,
#HTMLPageContent .turquoise-mornings1-16-look .headline1,
#HTMLPageContent .turquoise-mornings1-16-look .headline2 { color: #060000;}
#HTMLPageContent .turquoise-mornings1-16-look .aside .headline2  { border-left: 10px solid #1CA258; }
#HTMLPageContent .turquoise-mornings1-16-look { border-top-color: #1CA258; border-top: #1CA258 13px solid;  }
#HTMLPageContent .red1-midnight  { background-color: #801B1B; }
#HTMLPageContent .midnight-gree7 { background-color: #2B801B; }
.links-navigator { background-color: #fff; margin-top: 100px; padding: 10px; text-align: center; }
.news-code-contact-space,
#news-code-contact-space { background-color: #eee; color: #333;  padding: 4px;}
#HTMLPageContent .alt-link-text { background-color: #333; color: #eee; }
#HTMLPageContent .purpl-10-look { background-color: #FF0084; }
#HTMLPageContent .leckiday-tesla-09-look .content .headline1,
#HTMLPageContent .leckiday-tesla-09-look .content .headline2 {  }
#HTMLPageContent .leckiday-tesla-09-look { background-color: #314242; }
#HTMLPageContent .grapevine-08-look { background-color: #9A1861;  }
#HTMLPageContent .grapevine-08-look .content .headline1,
#HTMLPageContent .grapevine-08-look .content .headline2 { color: #F7BA00; }
#look-linker-form { padding: 0 0 0 10px; }
#HTMLPageContent .slime-05-look { background-color: #33CC33; }
#HTMLPageContent .redd-06-look { background-color: #ED2D3D; }

.img-03 { display: none; }
#HTMLPageContent .snowy-bluep-01-look #SMChannelsCompleteContent #linkedContent.bootstrap-icons,
#HTMLPageContent .snowy-bluep-01-look { background-color: #011993; float: none;  }
#HTMLPageContent .snowy-bluep-01-look .hey-highlight { color: orange; }
#HTMLPageContent .snowy-bluep-01-look .img-03 { display: inline-block; }
#HTMLPageContent .snowy-bluep-01-look .img-02 { display: none; }
.green-black-03-look #look-03,
.yellow-black-04-look #look-03,
.snowy-bluep-01-look #look-01 { background-color: #bbb; }
#look-04,#look-05,#look-06,
#look-00, #look-01, #look-02,#look-03 { padding-left: 26px; display: block; }
.aside .headline2 { padding-left: 16px; margin-right: 18px; 
                    margin-left: 0;
                    border-left: 10px solid #666666; 
                  }
#cat-wrapper-list { min-width: 510px; z-index: 2; position: relative; }
#look-linker-list { visibility: hidden; }
.themes-display #look-linker-list { visibility: visible; }
#wf-themes-image { display: none; } 
:root {
  color-scheme: light dark;
  --page-headline-color: #666;
  --page-txt-color: #333;
  --page-aside-txt-color: #666;
  --page-highlights: #F7C265;
}
@media (prefers-color-scheme: dark){
    :root {
        color-scheme: light dark;
        --page-headline-color: #666;
        --page-txt-color: #F7C265;
        --page-aside-txt-color: #666;
        --page-highlights: #fff;
    }
    #HTMLPageContent .look-01 { color: #FFFFFF; }
    #HTMLPageContent .look-06 { color: #EEEEEE; }
    #art-ascii-light1 { display: none; }
    #art-ascii-light2 { display: none; }
    #art-ascii-dark1 { display: inline-block; }
    #art-ascii-dark2 { display: none; }
    #art-ascii-wall-switcher:hover #art-ascii-light1 { display: none; }
    #art-ascii-wall-switcher:hover #art-ascii-light2 { display: none; }
    #art-ascii-wall-switcher:hover #art-ascii-dark2 { display: inline-block; }
    #art-ascii-wall-switcher:hover #art-ascii-dark1 { display: none; }
}
#kaivongdev-news-happenings,
#HTMLPageContent .screen .wrapper { background-color: #232323; max-width: 561px; }

#look-linker-list-info { display: inline-block; }
#look-linker-list-info #bold-headline { text-transform: uppercase;  }
#off-javascript-enable-message { color: var(--page-aside-txt-color);  }
#look-linker-list-info #bold-headline, #what-is-linkedin { color: var(--page-aside-txt-color); font-weight: bold;}
#what-is-linkedin { font-size: 80%; }
#HTMLPageContent .green-black-03-look { background-color: #E00A9C; color: #1ADC00; }
#HTMLPageContent .green-black-03-look #q-linkedin,
.yellow-black-04-look #q-linkedin { color: #3B2027; }
.aside .look-linkers-enhanced-dynamic-styles,
.defaults-02-look .aside .look-linkers-enhanced-dynamic-styles,
.green-black-03-look .aside .look-linkers-enhanced-dynamic-styles,
.yellow-black-04-look .aside .look-linkers-enhanced-dynamic-styles { cursor: pointer; }
.yellow-black-04-look { background-color: #3B2027; background-color: rgb(59,32, 32); color: #F7C265; }
.aside .look-linkers-enhanced-dynamic-styles:hover { text-decoration: underline; }
.cat-cc { position: absolute; }
#cat-wrapper-list { padding: 0; margin: 0; }
.cat-wrapper { position: relative; display: inline-block; margin-left: 2px; }
#cat-01 { top: 42px; left: 22px  }
#cat-02 { top: 42px; left: 25px }
#cat-05 { top: 42px; left: 64px  }
.lite-font-color { color: pink; }
.breaks-line { clear: both; }
.image-iseries { float: right; border: 3px solid #bbb; }
.i01 { border-bottom: 22px solid #666666; }
.s02 { display: none; visibility: hidden; }
.s03 { text-transform: lowercase; }
.hey-highlight { color: #3E3ECC;  }
.highlight5 { background-color: #EEEEEE; color: #BBBBBB; padding-left: 5px; padding-right: 5px; text-align: center; }
.headline1 { font-size: smaller; }
#about-kaivongdev { padding-top: 0; margin-bottom: 0; }
h1 { margin: 0; }
.bio-name { color: #333333; display: block; font-weight: normal; }
body { line-height: 1.5; color: var(--page-txt-color)} 
a:link { color: #E79423; }
h2.headline2 .highlight1 { background-color: #FBEFDE; color: #E79423; }
h2.headline2 .highlight2 { background-color: #F9E0E5; color: #DD3256; }
h2.headline2 .highlight3 { background-color: #E9BDE2; color: #EA0EC6; }

.page-cover { background: rgba(0 0 0 / 0.25);
  position: absolute;
  height: 100%; width: 100%; }
.edited-social-colours {
  height: 360px;
  width: 360px;
}
.headline1,
.headline2 {
  clear: both;
  color: #666666;
  font-family: arial;
  margin-left: -3px;
  text-transform: uppercase;
}
.screen.page-body {
  margin: 0;
  padding: 0;
}
.content {
  float: left;
  margin: 0;
}
.pic-lists {
  background-color: #333333;
  border: 6px solid #111111;
  display: inline-block;
  list-style-type: none;
  padding: 10px 0 10px 20px;
  width: 340px;
}
.pic-lists .item { display: inline-block; }
.aside {
  background: #D1D1D1;
  float: right;
  position: relative;
  border: 2px solid #fff; border-top: 3px solid #333;
  z-index: 2; position: relative; }
.focus-highlightable:hover{
  background-color: yellow;
}
.picture.image {
  border: 3px solid silver;
  display: block;
}
.caption {
  background-color: #FFFFFF;
  border-top: 0;
  border: silver 3px solid;
  margin: 0;
  padding: 4px 0 4px 4px;
  width: 416px;
}
.small-text.caption {
  font-size: 13px;
  margin-bottom: 24px;
}
.view-icons.content {
  padding: 0;
}
.javascript-required,
#NavigationAtTop,
#NavigationAtBottom  {
  left: -9999px;
  position: absolute;
}
.view-list #linkedContent {
  margin-left: -5px;
  margin-top: 0;
  padding-left: 0;
}
#SMChannelsCompleteContent #linkedContent,
#q-linkedin { padding: 8px 26px 4px 26px; }
#q-linkedin { vertical-align: bottom; }
#previous-social-links { padding: 0 0 0 20px; clear: left; }
#dev-email-hello-eh { width:20px; height:16px; top: 5px; position: relative; }
#linkedContent .list-item .h-text {
  display: inline-block;
  overflow: hidden;
  text-indent: -9999px;
}
.list-item {
  display: inline-block;
}
#footer { clear: both; color: gray; padding: 20px; margin: 20px 0 0; text-align: center; }
.hide-content { visibility: hidden; display: none;}

@media handheld {
    .aside {
        display: none;
    }
}

@media tty {
    h1 { border-bottom: 10px solid red; }
}

@media screen and (max-width:825px) {
    .aside {
        background-color: rgba(208,208,208,0.75);
    }
    img.i01 { width: 500px; height: 168px; }
}

.themes-display #wf-themes-image { position: absolute; left: -2px; bottom: -116px; display: inline; }
