.img-03 { display: none; }
.snowy-bluep-03-look #SMChannelsCompleteContent #linkedContent.bootstrap-icons,
.snowy-bluep-03-look { background-color: #011993; color: #eee; float: none;  } 
.snowy-bluep-03-look .hey-highlight { color: orange; }
.snowy-bluep-03-look .img-03 { display: inline-block; }
.snowy-bluep-03-look .img-02 { display: none; }
.defaults-00-look #look-00,
.green-black-01-look #look-01,
.yellow-black-02-look #look-02,.snowy-bluep-03-look #look-03 { background-color: #bbb; }
#look-00, #look-01, #look-02,#look-03 {display: block; }
#look-00, #look-01, #look-02,#look-03,
.aside #bold-headline { padding-left: 26px;  }
.aside .headline2 { padding-left: 16px; margin-right: 18px; margin-left: 0;
                    border-left: 10px solid #666666; }

#cat-wrapper-list { min-width: 510px; }
:root {
  color-scheme: light dark;
  --page-headline-color: #666;
  --page-txt-color: #333;
  --page-aside-txt-color: #666;
  --page-highlights: #F7C265;
}

@media (prefers-color-scheme: dark){
  :root {
    color-scheme: light dark;
    --page-headline-color: #666;
    --page-txt-color: #F7C265;
    --page-aside-txt-color: #666;
    --page-highlights: #fff;
  }
}
#look-linker-list-info #bold-headline { text-transform: uppercase; }
#off-javascript-enable-message { color: var(--page-aside-txt-color);  }
#look-linker-list-info #bold-headline, #what-is-linkedin { color: var(--page-aside-txt-color); font-weight: bold;}
#what-is-linkedin { font-size: 80%; }
.green-black-01-look { background-color: #3B2027; background-color: rgb(59,32, 32); color: #1ADC00; }
.green-black-01-look #q-linkedin,
.yellow-black-02-look #q-linkedin { color: #3B2027; }
 #look-linker-list,
.green-black-01-look b, .green-black-01-look #look-linker-list,
.yellow-black-02-look b,.yellow-black-02-look #look-linker-list { color: #333; color: var(--page-aside-txt-color); }
/* #1F5438 */ /* #297847 */  /* leans into rich-text color-group apple pixelmator colours */ 
.green-black-01-look .aside { border: 2px solid #333; border-top: 3px solid #333; }
.aside .look-linkers-enhanced-dynamic-styles,
.defaults-00-look .aside .look-linkers-enhanced-dynamic-styles,
.green-black-01-look .aside .look-linkers-enhanced-dynamic-styles,
.yellow-black-02-look .aside .look-linkers-enhanced-dynamic-styles { cursor: pointer; }
.yellow-black-02-look { background-color: #3B2027; background-color: rgb(59,32, 32); color: #F7C265; }
.aside .look-linkers-enhanced-dynamic-styles:hover { text-decoration: underline; }
.cat-cc { position: absolute; }
#cat-wrapper-list { padding: 0; margin: 0; }
.cat-wrapper { position: relative; display: inline-block; margin-left: 2px; }
#cat-01 { top: 42px; left: 22px  }
#cat-02 { top: 42px; left: 25px }
#cat-05 { top: 42px; left: 64px  }
.lite-font-color { color: pink; }
.breaks-line { clear: both; }
.image-iseries { float: right; border: 3px solid #bbb; }
.i01 { border-bottom: 22px solid #666666; }
.s02 { display: none; visibility: hidden; }
.s03 { text-transform: lowercase; }
.hey-highlight { color: #3E3ECC;  }
.highlight5 { background-color: #EEEEEE; color: #BBBBBB; padding-left: 5px; padding-right: 5px; text-align: center; }
.headline1 { font-size: smaller; }
#about-kaivongdev { padding-top: 0; margin-bottom: 0; }
.headline2 { margin-top: 50px; } 
h1 { margin: 0; }
.kinda-x-username { color: #BBBBBB; font-size: 42px; margin: 0 0 0 -13px; padding: 0 13px 0 13px; }
.bio-name { color: #333333; display: block; font-weight: normal; font-size: 21px; }
body { line-height: 1.5; color: var(--page-txt-color)} 
a:link { color: #E79423; }

h2.headline2 .highlight1 { background-color: #FBEFDE; color: #E79423; }
h2.headline2 .highlight2 { background-color: #F9E0E5; color: #DD3256; }
h2.headline2 .highlight3 { background-color: #E9BDE2; color: #EA0EC6; }
.aside { z-index: 2; position: relative; }

.emoji { font-variant-emoji: emoji; }
.page-cover { background: rgba(0 0 0 / 0.25);
  position: absolute;
  height: 100%; width: 100%; }
.html1999.html {
  border-top: #E8582B 13px solid;
  cursor: default;
  font-family: PingFang SC Regular, Alegreya, Verdana;
  max-width: 1012px;
}
.edited-social-colours {
  height: 360px;
  width: 360px;
}
.headline1,
.headline2 {
  clear: both;
  color: #666666;
  font-family: arial;
  margin-left: -3px;
  text-transform: uppercase;
}

.html{}
.screen.page-body {
  margin: 0;
  padding: 0 13px;
}
.content {
  float: left;
  margin: 0 13px 0 0;
  max-width: 550px;
}
.monogram { clear: both; }
#links-onto-gravatar { 
  float: right;
  border-radius: 0 0 0 20px;
  margin: 0; 
  padding-top: 30px; 
  border-top: 2px solid gray;
  border-bottom: 2px solid #666666;
  overflow: hidden;
  text-align: center;
}
#links-onto-gravatar img {border-radius: 25px; margin-top: -40px; 
  vertical-align: text-bottom; }
#links-onto-gravatar .link-block:after { content: ' '; display: inline-block; }
.pic-lists {
  background-color: #333333;
  border: 6px solid #111111;
  display: inline-block;
  list-style-type: none;
  padding: 10px 0 10px 20px;
  width: 340px;
}
.pic-lists .item { display: inline-block; }

.aside {
 width: 232px;
}
.aside {
  background: #D1D1D1;
  float: right;
  overflow: hidden;
  padding: 0 0 20px;
  border: 2px solid #fff; border-top: 3px solid #333;
}

.focus-highlightable:hover{
  background-color: yellow;
}
.picture.image {
  border: 3px solid silver;
  display: block;
}
.caption {
  background-color: #FFFFFF;
  border-top: 0;
  border: silver 3px solid;
  margin: 0;
  padding: 4px 0 4px 4px;
  width: 416px;
}
.small-text.caption {
  font-size: 13px;
  margin-bottom: 24px;
}
.view-icons.content {
  padding: 0;
}
.monocode {
  font-family: monospace;
  font-size: 11px;
}
.javascript-required,
#NavigationAtTop,
#NavigationAtBottom,
.off-page--HTML-only {
  left: -9999px;
  position: absolute;
}
.has-javascript .view-list#SMChannelsCompleteContent,
.has-javascript .view-icons#SMChannelsCompleteContent {
  padding-top: 0;
}
.view-list #linkedContent {
  margin-left: -5px;
  margin-top: 0;
  padding-left: 0;
}
#SMChannelsCompleteContent.view-list #select-list-view .buttons-alt-looks,
#SMChannelsCompleteContent.view-icons #select-icons-view .buttons-alt-looks {
  background: #7F2F2B;
  border-radius: 5px;
  border: #333333 1px solid;
  color: #FFFFFF;
  cursor: default;
  position: relative;
  top: 4px;
}
#SMChannelsCompleteContent { text-align: left; padding: 0; }
#SMChannelsCompleteContent #linkedContent,
#q-linkedin { padding: 8px 26px 4px 26px; }
#q-linkedin { vertical-align: bottom; }
#previous-social-links { padding: 0 0 0 20px; clear: left; }
#dev-email-hello-eh { width:20px; height:16px; top: 5px; position: relative; }
#SMChannelsCompleteContent li:hover { opacity: 75%; }
#linkedContent .list-item .h-text {
  display: inline-block;
  overflow: hidden;
  text-indent: -9999px;
}
.list-item {
  display: inline-block;
}
.sm-slot-hidden, .hide-content {
  visibility: hidden; display: none;
}
.pic-images-instagram {
  height: 160px;
  width: 160px;
}
#footer { clear: both; color: gray; padding: 20px; margin: 20px 0 0; }


